*.o
/ccheck
/ccheck-hos
/syc
/syc-hos
/z80test
/example/fillscr.asm
/example/mul16.asm
/example/test.asm
/example/*.bin
/example/*.ir
/example/*.ir.asm
/example/*.map
/example/*.tap
/example/*.vric
/test/ccheck/*/*-vg.txt
/test/ccheck/*/*.c.diff
/test/ccheck/*/*.h.diff
/test/ccheck/*/*.txt.diff
/test/ccheck/all.diff
/test/selfcheck.out
/test/syc/*/*.asm
/test/syc/*/*.bin
/test/syc/*/*.map
/test/syc/*/*.tap
/test/syc/*/*-z80t.txt
/test/syc/*/*-vg.txt
/test/syc/*/*.txt.diff
/test/syc/all.diff
/test/test-int.out
/test/test-syc-int.out
