*.o
/ccheck
/ccheck-hos
/syc
/syc-hos
/example/test.asm
/example/test.bin
/example/test.map
/example/test.ir
/example/test.ir.asm
/example/test.ir.ir
/example/test.tap
/example/test.vric
/test/ccheck/*/*-vg.txt
/test/ccheck/*/*.c.diff
/test/ccheck/*/*.h.diff
/test/ccheck/*/*.txt.diff
/test/ccheck/all.diff
/test/selfcheck.out
/test/syc/*/*.asm
/test/syc/*/*-vg.txt
/test/syc/*/*.txt.diff
/test/syc/all.diff
/test/test-int.out
/test/test-syc-int.out
